<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
    <rewrite>
            <rules>
                <rule name="Reverse Proxy to PotreeViewer" stopProcessing="true">
          			<match url="(.*)/e287a891-2713-409b-ad24-69eb80466eee/(.*)" />
           			<action type="Rewrite" url="http://localhost:39987/acl-i/{R:2}" />
       			 </rule>
            </rules>
            <outboundRules>
            </outboundRules>
        </rewrite>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\DAEP.RecapApp.Server.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 6E2965E8-B2B8-4D2A-A95D-1EADE36FA2C1-->